:root {
    --cor-primaria: #0d6efd   ;
    --cor-secundaria: #6c757d   ;
    --cor-terciaria: #f8f9fa   ;
    --cor-texto: #212529   ;
    --cor-fundo: #e5e7eb;
    --cor-destaque: #ffc107  ;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}
   
.btn-primary {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.btn-secondary {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}

.list-group-item {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.list-group-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--cor-texto);
    text-decoration: none;
}
